@import "../../styles/core";

.projects {
  // container override for sidescroll on mobile screens.
  margin-right: 0 !important;
  width: 95% !important;

  @include breakpoint($my-breakpoint-small) {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;

    &__help-text {
      display: none;
    }
  }

  @include breakpoint($my-breakpoint-medium) {
    width: 80% !important;
  }

  &__scroll-fix-spacer {
    min-width: 1px !important;
    max-width: 1px !important;

    @include breakpoint($my-breakpoint-small) {
      display: none;
    }
  }

  &__grid {
    display: flex;
    overflow: scroll;
    padding: 30px 0;

    & > * {
      display: flex;
      min-width: 80vw;
      max-width: 80vw;
      margin-right: 30px;
      &:last-child {
        margin-right: 30px;
      }
    }

    @include breakpoint($my-breakpoint-small) {
      display: grid;
      overflow: hidden;
      grid-gap: 45px;
      grid-template-columns: repeat(2, 1fr);

      & > * {
        min-width: unset;
        max-width: unset;
        margin-right: 0;
      }
    }

    @include breakpoint($my-breakpoint-large) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 45px;
    }
  }
}
