$my-black: black;
$my-seafoam: #8fffff;
$my-grey-dark: #212529;

$my-breakpoint-xsmall: 450px;
$my-breakpoint-small: 600px;
$my-breakpoint-medium: 900px;
$my-breakpoint-large: 1100px;
$my-breakpoint-xlarge: 1300px;

$my-fontfamily-sans: "My Sans", sans-serif;
$my-fontfamily-serif: "My Serif", serif;
