@import "normalize";
@import "design-tokens";


html {
  background-color: black;
  color: $my-seafoam;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 601px) {
    width: 90%;
  }

  @media (min-width: 993px) {
    width: 80%;
  }
}
