@import "core";

body {
  font-family: $my-fontfamily-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $my-fontfamily-sans;
}

//--------
// Typography
//
// Global styling of typographical html elements including headers and paragraphs

//----------------------------------------------------------------------------------------------------------------------
// VERTICAL RHYTHM
//----------------------------------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
b {
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1.2;
}

:first-child {
  margin-top: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

//----------------------------------------------------------------------------------------------------------------------
// HEADERS
//----------------------------------------------------------------------------------------------------------------------
// see src/styles/core/mixins.scss for mixin definitions
.u-fontsize--h1,
h1 {
  font-size: 35px;
  letter-spacing: 0;
  @include breakpoint($my-breakpoint-small) {
    font-size: 40px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 45px;
  }
}

.u-fontsize--h2,
h2 {
  font-size: 32px;
  letter-spacing: 0;
  @include breakpoint($my-breakpoint-small) {
    font-size: 35px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 40px;
  }
}

.u-fontsize--h3,
h3 {
  font-size: 28px;
  letter-spacing: 0;
 //@include breakpoint($my-breakpoint-small) {
 //   font-size: 30px;
 // }
 // @include breakpoint($my-breakpoint-medium) {
 //   font-size: 35px;
 // }
}

.u-fontsize--h4,
h4 {
  font-size: 24px;
  letter-spacing: 0;
  //@include breakpoint($my-breakpoint-small) {
  //  font-size: 25px;
  //}
  //@include breakpoint($my-breakpoint-medium) {
  //  font-size: 30px;
  //}
}

.u-fontsize--h5,
h5 {
  font-size: 22px;
  //@include breakpoint($my-breakpoint-small) {
  //  font-size: 25px;
  //}
  //@include breakpoint($my-breakpoint-medium) {
  //  font-size: 30px;
  //}
}

.u-fontsize--h6,
h6 {
  font-size: 22px;
  //@include breakpoint($my-breakpoint-small) {
  //  font-size: 25px;
  //}
  //@include breakpoint($my-breakpoint-medium) {
  //  font-size: 30px;
  //}
}

.u-fontsize--p,
p,
a,
li {
  font-size: 16px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 18px;
  }
  //@include breakpoint($my-breakpoint-medium) {
  //  font-size: 26px;
  //}
}

.u-fontsize--small,
small {
  font-size: 12px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 14px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 16px;
  }
}

a {
  color: white;
}
