@import "core";

body {
  font-family: $my-fontfamily-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $my-fontfamily-sans;
}

//--------
// Typography
//
// Global styling of typographical html elements including headers and paragraphs

//----------------------------------------------------------------------------------------------------------------------
// VERTICAL RHYTHM
//----------------------------------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
b {
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1.2;
}

*:first-child {
  margin-top: 0;
}

//----------------------------------------------------------------------------------------------------------------------
// HEADERS
//----------------------------------------------------------------------------------------------------------------------
// see src/styles/core/mixins.scss for mixin definitions
.u-fontsize--h1,
h1 {
  font-size: 35px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 40px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 45px;
  }
}

.u-fontsize--h2,
h2 {
  font-size: 32px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 35px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 40px;
  }
}

.u-fontsize--h3,
h3 {
  font-size: 28px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 30px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 35px;
  }
}

.u-fontsize--h4,
h4 {
  font-size: 28px;
  @include breakpoint($my-breakpoint-small) {
    font-size: 30px;
  }
  @include breakpoint($my-breakpoint-medium) {
    font-size: 35px;
  }
}

.u-fontsize--h5,
h5 {
  @include pm-font-size--h5();
}

.u-fontsize--h6,
h6 {
  @include pm-font-size--h6();
}

.u-fontsize--p,
.u-fontsize--lg-copy,
p,
li {
  @include pm-font-size--p();
}

.u-fontsize--sm,
.u-fontsize--sm-copy,
small {
  @include pm-font-size--sm();
}

.u-fontsize--xs,
.u-fontsize--xs-bold {
  @include pm-font-size--xs();
}

code,
.u-fontface-code {
  @include pm-font-face-code();
}
