.card {
  background-color: white;
  color: black;
  cursor: pointer;

  &__image {
    border: solid 5px black;
    background-color: black;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    height: 400px;
  }

  &__body {
    padding: 10px;
  }
}
