@import "../../styles/core";

.card {
  display: flex;
  flex-direction: column;
  background-color: $my-grey-dark;
  color: black;
  cursor: pointer;
  border-left: solid 5px $my-pastel-red;

  &__image {
    border: solid 5px black;
    background-color: black;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 300px;
  }

  &__body {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  a {
    color: $my-seafoam;
    margin-top: auto;
  }

  &__client {
    color: $my-maize;
  }

  &__title {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
