@import "../../styles/core";

.references {

  .reference {
    margin-bottom: 50px;
    text-align: center;

    &__body {
      position: relative;
      &:before,
      &:after {
        position: absolute;
        content: ' " ';
        color: $my-pastel-red;
        font-size: 2em;
      }
      &:before {
        left: -20px;
        top: -10px;
      }
      &:after {
        right: -20px;
        bottom: -25px;
      }
    }

    &__referer {
      font-size: 20px;
      color: $my-seafoam;
      text-align: right;
    }
  }
}
