@import "../../styles/core";

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    @include breakpoint(550px) {
      width: 66vw;
      display: grid;
      grid-template-columns: auto 1fr 1fr 0.5fr;
      grid-template-rows: auto 1fr 1fr auto auto;
      grid-gap: 1rem;
    }

    > * {
      margin: 0;
    }
  }

  &__title {
    color: white;
    grid-column: 1 / span 3;
    @include breakpoint($my-breakpoint-medium) {
      text-align: right;
      grid-column: 1;
    }
  }

  &__subtitle {
    color: $my-maize;

    @include breakpoint(550px) {
      writing-mode: vertical-lr;
      grid-column: 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-top: -10px;
      margin-right: -10px;
    }

    @include breakpoint($my-breakpoint-medium) {
      grid-column: 1 / 2;
    }
  }

  &__nav {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    font-weight: 700;
    line-height: 1.2;
    align-self: end;
    @include breakpoint($my-breakpoint-medium) {
      grid-column: 2 / span 2;
    }
  }

  &__items {
    font-weight: 700;
    border-top: solid $my-space-sm $my-seafoam;
    text-align: right;
    @include breakpoint(600px) {
      text-align: left;
      grid-row: 2;
      grid-column: 3 / span 1;
      align-self: end;
      writing-mode: vertical-lr;
      padding-top: $my-space-sm;
    }
    @include breakpoint($my-breakpoint-medium) {
      grid-row: 3;
    }
  }

  &__social {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    grid-row: 3;
    grid-column: 1 / span 4;
    padding-bottom: $my-space-sm;
    border-bottom: solid $my-space-sm $my-pastel-red;
    padding: $my-space-sm $my-space-sm;
    @include breakpoint($my-breakpoint-medium) {
      grid-row: 4;
      grid-column: 1 / span 1;
    }
  }

  &__social-icon {
    color: $my-maize;
    fill: $my-maize;
    width: 40px;
    will-change: transform;
    transition: transform 0.3s ease-in;
    path {
      color: $my-maize;
      fill: $my-maize;
    }
    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.4);
    }
  }

  &__item {
    color: white;
    margin-top: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: solid 2px white;
  }

  &__link {
    color: white;
    padding: 10px 0 10px 10px;
    border-bottom: solid 2px white;
    background-color: teal;
    text-decoration: none;
    margin: 0;
    &:focus,
    &:hover {
      outline: none;
      background-color: $my-pastel-brick;
      .marquee__link-icon {
        transform: rotate(0deg);
      }
    }
  }

  &__link-icon {
    display: inline;
    width: 12px;
    margin: 0;
    fill: white;
    transform: rotate(-90deg);
    will-change: transform;
    transition: transform .3s ease-in 0.05s;
    + span {
      padding-left: 10px;
    }
  }
}
